*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: all 0.2s ease-out;
}

html{
    scroll-behavior: smooth;
}

$texto-presentacion: #f2f2f2;
$texto-navegacion: #141414;

body{
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

::selection {
    color: rgb(54, 54, 54);
    background: rgba(238, 238, 238, 0.808);
  }

header{
    background-image: url(../multimedia/background/computer_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    nav{
        z-index: 15;
        position: fixed;
        // top: 0;
        padding: 22px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .logotipo{
            width: 250px;
            img{
                width: 100%;
            }
        }
        .menu{
            width: auto;
            a{
                color: #2f2f2f;
                padding-left: 12px;
                padding-right: 12px;
                font-size: 25px;
            }
            .bar_menu{
                cursor: pointer;
            }
        }
    }
    .lateral_menu{
        // display: none;
        opacity: 0;
        margin-left: 100%;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #111111;
        padding: 5%;
        z-index: 10;
        a{
            position: static;
            width: auto;
            text-decoration: none;
            padding: 1%;
            font-size: 45px;
            display: block;
            color: #f2f2f2;
            i{
                position: absolute;
                left: auto;
                opacity: 0;
            }
            &:hover{
                margin-left: 12px;
                i{
                    margin-left: 28px;
                    opacity: 1;
                }
            }
        }
        a:nth-child(1){
            padding-top: 110px;
        }
    }
    .lateral_menu_show{
        opacity: 1;
        transition: 0.3s;
        margin-left: 0;
    }
    .presentacion{
        margin-top: 10%;
        width: 50%;
        padding-left: 10%;
        margin-bottom: 10%;
        h1{
            font-size: 50px;
            color: $texto-presentacion;
        }
        p{
            font-size: 18px;
            color: $texto-presentacion;
            line-height: 1.8;
        }
        .scroll{
            width: 36px;
            height: 36px;
            text-align: center;
            border: 1px solid $texto-presentacion;
            padding: 5px;
            border-radius: 100%;
            a{
                padding: 5px;
                font-size: 20px;
                text-align: center;
                color: $texto-presentacion;
                i{
                    z-index: -1;
                    margin-top: 2px;
                    
                }
                &:hover{
                    i{
                        padding-top: 5px;
                        // -moz-transform: rotate(360deg);
                        // -webkit-transform: rotate(360deg);
                        // -o-transform: rotate(360deg);
                        // -ms-transform: rotate(360deg);
                        // transform: rotate(360deg);
                    }
                }
            }
        }
    }
    .header-bg{
        background-color: #1f1f1f;
    }
}

.white{
    color: #f2f2f2;
}

.subir{
    opacity: 0;
    z-index: 200;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: #1f1f1f;
    margin-bottom: 20px;
    margin-right: 20px;
    a{
        padding: 20px;
        margin-right: 20px;
    }
    i{
        font-size: 18px;
        color: #f2f2f2;
        margin-top: 28%;
        // padding: 20px;
    }
}

.subir-show{
    opacity: 1;
}

.proyectos{
    padding: 10%;
    background-color: white;
    width: 100%;
    .proyectos_title{
        text-align: center;
        font-size: 56px;
        margin-bottom: 8%;
    }
    .proyectos__element{
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        .proyectos__imagen{
            width: 50%;
            img{
                width: 100%;
            }
        }
        .proyectos__descripcion{
            width: 50%;
            h2{
                font-size: 38px;
                color: #1f1f1f;
            }
            p{
                line-height: 1.8;
                font-size: 18px;
            }
            form{
                input[type=submit]{
                    border-style: none;
                    padding: 2%;
                    background-color: #1f1f1f;
                    border: 1px solid #1f1f1f;
                    color: #f2f2f2;
                    cursor: pointer;
                    &:hover{
                        color: #1f1f1f;
                        background: none;
                    }
                }
            }
        }
    }
}

.display-none{
    display: none !important;
}

footer{
    background-color: #f2f2f2;
    width: 100%;
    position: absolute;
    .redes{
        padding: 2%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        p{
            text-align: center;
            font-size: 22px;
            font-weight: bold;
        }
        a{
            font-size: 35px;
            color: #111111;
        }
    }
}

.skills{
    margin-top: 5%;
    padding: 5%;
    width: 100%;
    .skills__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        .skills__container__skills{
            width: 22%;
            padding: 1%;
            border: 1px solid #dfdfdf;
            -webkit-box-shadow: 8px 8px 0px -2px rgba(23,23,23,0.99); 
            box-shadow: 8px 8px 0px -2px rgba(23,23,23,0.99);
            p{
                font-weight: lighter;
                line-height: 1.8;
                text-align: justify;
                font-size: 14px;
                margin-left: 12px;
                strong{
                    color: #2f2f2f;
                    font-weight: bold;
                    font-size: 18px;
                }
            }
            img{
                padding: 4px;
                border: 1px solid #727272;
                border-style: dashed;
                -webkit-box-shadow: 0px 5px 15px -8px #000000; 
                box-shadow: 0px 5px 15px -8px #000000
            }
        }
    }
}

.acerca{
    width: 100%;
    padding: 5%;
    .acerca_info{
        text-align: center;
        h2{
            color: #2f2f2f;
            text-align: center;
            font-size: 35px;
        }
        p{
            margin: auto;
            width: 80%;
            line-height: 2;
            font-size: 16px;
            text-align: justify;
            span{
                font-weight: bold;
                color: #2f2f2f;
                text-decoration: underline;
            }
        }
        a{
            padding: 1%;
            background-color: #2f2f2f;
            border: 1px solid #2f2f2f;
            text-decoration: none;
            color: #f2f2f2;
            font-size: 16px;
            border-radius: 4px;
            i{
                padding-left: 5px;
            }
            &:hover{
                background: none;
                color: #2f2f2f;
            }
        }
    }
}

.galeria{
    padding: 5%;
    width: 100%;
    margin-bottom: 10%;
    h4{
        width: 50%;
        margin: auto;
        margin-top: 2%;
        text-align: center;
        font-size: 35px;
        color: #2f2f2f;
    }
    .items{
        margin-top: 2%;
        border: 1px solid #ebebeb;
        background-color: #ebebeb;
        width: 100%;
        z-index: 10;
        p{
            padding-left: 4%;
            font-weight: bold;
        }
        ul{
            list-style: none;
            li{
                display: inline-block;
                margin-left: 10px;
                margin-right: 10px;
                border: 1px solid #2f2f2f;
                padding: 8px;
                border-radius: 2px;
                &:hover{
                    background-color: #2f2f2f;
                    color: #f2f2f2;
                    cursor: pointer;
                }
            }
            .active{
                background-color: #2f2f2f;
                color: #f2f2f2;
            }
        }
    }
    .imagenes{
        margin: auto;
        width: 100%;
        columns: 5 210px;
        column-gap: 0.5em;
        .itemBox{
            img{
                max-width: 100%;
                margin-bottom: 0.5em;
                display: block;
                outline: none;
            }
        }
        .itemBox.hide{
            display: none;
        }
    }
}

.contacto{
    width: 100%;
    padding: 5%;
    padding-top: 1%;
    h3{
        font-size: 35px;
        text-align: center;
    }
    form{
        margin: auto;
        min-width: 50%;
        max-width: 40%;
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        label{
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5%;
            input{
                outline: none;
                margin-top: 12px;
                width: 100%;
                border-style: none;
                padding: 12px;
                border-radius: 25px;
                background-color: #f5f5f5;
                border: 1px solid #2f2f2f00;
                &:focus{
                    border: 1px solid #cacaca;
                }
            }
            textarea{
                outline: none;
                margin-top: 12px;
                width: 100%;
                border-style: none;
                padding: 12px;
                border-radius: 25px;
                background-color: #f5f5f5;
                border: 1px solid #2f2f2f00;
                &:focus{
                    border: 1px solid #cacaca;
                }
            }
            p{
                color: rgb(202, 26, 26);
                font-weight: normal;
            }
        }
        #enviar{
            background-color: #2f2f2f;
            border: 1px solid #2f2f2f;
            padding: 12px;
            color: #f2f2f2;
            border-radius: 25px;
            &:hover{
                background: none;
                color: #2f2f2f;
                cursor: pointer;
            }
        }
    }
}

.contacto_alternativo{
    width: 100%;
    padding: 5%;
    padding-top: 35px;
    text-align: center;
    h3{
        padding: 2%;
        font-size: 35px;
    }
    .contacto_alternativo__contacto{
        p{
            font-size: 16px;
        }
        a{
            margin-top: 2%;
            font-size: 35px;
            color: #2f2f2f;
            margin-left: 1%;
            margin-right: 1%;
        }
    }
}

@media (orientation: landscape){
    .lateral_menu{
        a{
            padding: 0.5%;
            font-size: 25px;
        }
    }
}

@media (max-width: 1330px){
    .skills{
        margin-top: 15%;
    }
}

@media (max-width: 1000px){
    header{
        nav{
            flex-direction: column;
            .menu{
                a{
                    i{
                        color: #dfdfdf;
                    }
                }
            }
        }
        .presentacion{
            margin-left: 3%;
            width: 70%;
            padding-top: 10%;
            h1{
                font-size: 35px;
            }
        }
        .lateral_menu{
            padding-top: 1%;
            a{
                padding: 0.5%;
                font-size: 22px;
            }
        }
    }

    .skills{
        margin-top: 25%;
    }

    .proyectos{
        .proyectos__element{
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
            margin-bottom: 10%;
            .proyectos__imagen{
                width: 50%;
                img{
                    width: 100%;
                }
            }
            .proyectos__descripcion{
                text-align: center;
                width: 90%;
            }
        }
    }
    
}

@media (max-width: 860px){
    .skills{
        margin-top: 25%;
    }
    .contacto{
        form{
            margin: auto;
            min-width: 85%;
            max-width: 40%;
        }
    }
}

@media (max-width: 700px){
    header{
        nav{
            .logotipo{
                width: 150px;
                img{
                    width: 100%;
                }
            }
        }
        .presentacion{
            padding-left: 4%;
            width: 90%;
            margin-top: 20%;
        }
    }
    .proyectos{
        .proyectos_title{
            font-size: 35px;
        }
    }
    .skills{
        margin-top: 55%;
        .skills__container{
            justify-content: center;
            width: 100%;
            .skills__container__skills{
                width: 80%;
                margin: 12px;
            }
        }
    }
}

@media (max-width: 500px){
    .galeria{
        h4{
            width: 98%;
        }
        .items{
            margin-top: 2%;
            border: 1px solid #ebebeb;
            background-color: #ebebeb;
            width: 100%;
            z-index: 10;
            p{
                text-align: left;
            }
            ul{
                list-style: none;
                text-align: left;
                margin-left: -20px;
                margin-right: 20px;
                li{
                    display: block;
                    margin-bottom: 12px;
                    margin-left: 0px;
                    margin-right: 0px;
                    border: 1px solid #2f2f2f;
                    padding: 5px;
                    border-radius: 2px;
                    &:hover{
                        background-color: #2f2f2f;
                        color: #f2f2f2;
                        cursor: pointer;
                    }
                }
                .active{
                    background-color: #2f2f2f;
                    color: #f2f2f2;
                }
            }
        }
    }
    .skills{
        // margin-top: 100%;
        padding-top: 5%;
    }
}