*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: all 0.2s ease-out;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

::selection {
    color: rgb(54, 54, 54);
    background: rgba(238, 238, 238, 0.808);
  }

header{
    width: 100%;
    height: 100vh;
    .main_menu{
        z-index: 100;
        border-bottom: 1px solid #e7e7e7;
        padding: 1%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        width: 100%;
        background-color: #ffffff;
        .main_menu__logo{
            width: 250px;
            img{
                width: 100%;;
            }
        }
        .main_menu__opciones{
            width: 70%;
            text-align: right;
            a{
                padding: 1.6%;
                font-size: 18px;
                text-decoration: none;
                padding-left: 1%;
                padding-right: 1%;
                color: #2f2f2f;
                &:hover{
                    border-bottom: 1px solid #2f2f2f;
                    color: #2f2f2f;
                    // background-color: #402A32;
                }
            }
        }
    }
    .scroll{
        position: fixed;
        width: 100%;
        background-color: #ffffff;
    }

    .informacion{
        padding: 14%;
        padding-top: 3%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        .informacion__img{
            width: 50%;
            img{
                width: 100%;
                border-radius: 5px;
            }
        }
        .informacion__texto{
            padding: 5%;
            width: 50%;
            h1{
                font-size: 45px;
                &:hover{
                    text-shadow: 6px 6px 0px #F1BAF3;
                }
            }
            span{
                font-size: 55px;
                color: #A66D72;
                &:hover{
                    text-shadow: 6px 6px 0px #F1BAF3;
                }
            }
            p{
                line-height: 1.8;
            }
            .informacion__redes{
                padding-top: 5%;
                width: 100%;
                text-align: center;
                a{
                    color: #2f2f2f;
                    margin-left: 5%;
                    margin-right: 5%;
                    font-size: 28px;
                    text-decoration: none;
                }
                a:nth-child(1):hover{
                    color: #0a66c2;
                }
                a:nth-child(2):hover{
                    color: #1da1f2;
                }
                a:nth-child(3):hover{
                    color: #25d366;
                }
                a:nth-child(4):hover{
                    color: #acacac;
                }
            }
        }
    }
}

.skills{
    padding: 2%;
    width: 100%;
    .skills__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        .skills__container__skills{
            width: 22%;
            padding: 1%;
            border: 1px solid #dfdfdf;
            -webkit-box-shadow: 8px 8px 0px -2px rgba(23,23,23,0.99); 
            box-shadow: 8px 8px 0px -2px rgba(23,23,23,0.99);
            p{
                font-weight: lighter;
                line-height: 1.8;
                text-align: justify;
                font-size: 14px;
                margin-left: 12px;
                strong{
                    color: #2f2f2f;
                    font-weight: bold;
                    font-size: 18px;
                }
            }
            img{
                padding: 4px;
                border: 1px solid #727272;
                border-style: dashed;
                -webkit-box-shadow: 0px 5px 15px -8px #000000; 
                box-shadow: 0px 5px 15px -8px #000000
            }
        }
    }
}

.acerca{
    width: 100%;
    padding: 5%;
    .acerca_info{
        text-align: center;
        h2{
            color: #2f2f2f;
            text-align: center;
            font-size: 35px;
        }
        p{
            margin: auto;
            width: 80%;
            line-height: 2;
            font-size: 16px;
            text-align: justify;
            span{
                font-weight: bold;
                color: #2f2f2f;
                text-decoration: underline;
            }
        }
        a{
            padding: 1%;
            background-color: #2f2f2f;
            border: 1px solid #2f2f2f;
            text-decoration: none;
            color: #f2f2f2;
            font-size: 16px;
            border-radius: 4px;
            i{
                padding-left: 5px;
            }
            &:hover{
                background: none;
                color: #2f2f2f;
            }
        }
    }
}

.web_projects{
    width: 100%;
    padding: 5%;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    h2{
        font-size: 45px;
        text-align: center;
    }
    .web_projects__article{
        width: 80%;
        margin: auto;
        .web_projects__article__containers{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            .web_projects__article__containers_img{
                width: 50%;
                img{
                    width: 100%;
                }
            }
            .web_projects__article__containers_info{
                width: 50%;
                h3{
                    font-size: 35px;
                }
                p{
                    line-height: 1.8;
                }
                a{
                    padding: 2%;
                    border-radius: 2px;
                    border: 1px solid #2f2f2f;
                    background-color: #2f2f2f;
                    color: #f2f2f2;
                    text-decoration: none;
                    &:hover{
                        background: none;
                        color: #2f2f2f;
                    }
                }
            }
        }
        .web_projects__article__containers:nth-child(2){
            flex-direction: row-reverse;
        }
        .web_projects__article__containers:nth-child(4){
            flex-direction: row-reverse;
        }
    }
}

.galeria{
    padding: 5%;
    width: 100%;
    margin-bottom: 10%;
    h4{
        width: 50%;
        margin: auto;
        margin-top: 2%;
        text-align: center;
        font-size: 35px;
        color: #372049;
    }
    .items{
        margin-top: 2%;
        border: 1px solid #ebebeb;
        background-color: #ebebeb;
        width: 100%;
        z-index: 10;
        p{
            padding-left: 4%;
            font-weight: bold;
        }
        ul{
            list-style: none;
            li{
                display: inline-block;
                margin-left: 10px;
                margin-right: 10px;
                border: 1px solid #2f2f2f;
                padding: 8px;
                border-radius: 2px;
                &:hover{
                    background-color: #2f2f2f;
                    color: #f2f2f2;
                    cursor: pointer;
                }
            }
            .active{
                background-color: #2f2f2f;
                color: #f2f2f2;
            }
        }
    }
    .imagenes{
        margin: auto;
        width: 100%;
        columns: 5 210px;
        column-gap: 0.5em;
        .itemBox{
            img{
                max-width: 100%;
                margin-bottom: 0.5em;
                display: block;
                outline: none;
            }
        }
        .itemBox.hide{
            display: none;
        }
    }
}

.contacto{
    width: 100%;
    padding: 5%;
    padding-top: 1%;
    h3{
        font-size: 35px;
        text-align: center;
    }
    form{
        margin: auto;
        min-width: 50%;
        max-width: 40%;
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        label{
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5%;
            input{
                outline: none;
                margin-top: 12px;
                width: 100%;
                border-style: none;
                padding: 12px;
                border-radius: 25px;
                background-color: #f5f5f5;
                border: 1px solid #2f2f2f00;
                &:focus{
                    border: 1px solid #cacaca;
                }
            }
            textarea{
                outline: none;
                margin-top: 12px;
                width: 100%;
                border-style: none;
                padding: 12px;
                border-radius: 25px;
                background-color: #f5f5f5;
                border: 1px solid #2f2f2f00;
                &:focus{
                    border: 1px solid #cacaca;
                }
            }
            p{
                color: rgb(202, 26, 26);
                font-weight: normal;
            }
        }
        #enviar{
            background-color: #2f2f2f;
            border: 1px solid #2f2f2f;
            padding: 12px;
            color: #f2f2f2;
            border-radius: 25px;
            &:hover{
                background: none;
                color: #2f2f2f;
                cursor: pointer;
            }
        }
    }
}

footer{
    background-color: #2f2f2f;
    width: 100%;
    padding: 2%;
    text-align: center;
    p{
        font-size: 16px;
        color: #f2f2f2;
        font-weight: bold;
    }
}

@media (max-width: 1330px){
    .skills{
        margin-top: 15%;
    }
}

@media (max-width: 1000px){
    header{
        .informacion{
            padding: 4%;
            margin-bottom: 8%;
        }
    }

    .skills{
        margin-top: 25%;
    }
}

@media (max-width: 860px){
    header{
        .main_menu{
            .main_menu__opciones{
                text-align: center;
                width: 100%;
                margin-top: 2%;
            }
        }
    }
    .skills{
        margin-top: 25%;
    }
    .contacto{
        form{
            margin: auto;
            min-width: 85%;
            max-width: 40%;
        }
    }
}

.up{
    margin-right: 35px;
    margin-bottom: 25px;
    width: 30px;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
    a{
        padding: 12px;
        color: #f2f2f2;
        background-color: #2f2f2f;
        i{
            margin-right: 5px;
            margin-left: 5px;
        }
    }
}

.up_show{
    display: block;
}

@media (max-width: 700px){
    header{
        .informacion{
            display: flex;
            flex-direction: column;
            .informacion__img{
                width: 50%;
                order: 2;
            }
            .informacion__texto{
                width: 95%;
                order: 1;
            }
        }
    }
    .skills{
        margin-top: 55%;
        .skills__container{
            justify-content: center;
            width: 100%;
            .skills__container__skills{
                width: 80%;
                margin: 12px;
            }
        }
    }

    .web_projects{
        .web_projects__article{
            .web_projects__article__containers{
                flex-direction: column;
                margin-bottom: 5%;
                .web_projects__article__containers_img{
                    width: 70%;
                }
                .web_projects__article__containers_info{
                    width: 98%;
                }
            }
        }
    }
}

@media (max-width: 500px){
    .galeria{
        h4{
            width: 98%;
        }
        .items{
            margin-top: 2%;
            border: 1px solid #ebebeb;
            background-color: #ebebeb;
            width: 100%;
            z-index: 10;
            p{
                text-align: left;
            }
            ul{
                list-style: none;
                text-align: left;
                margin-left: -20px;
                margin-right: 20px;
                li{
                    display: block;
                    margin-bottom: 12px;
                    margin-left: 0px;
                    margin-right: 0px;
                    border: 1px solid #2f2f2f;
                    padding: 5px;
                    border-radius: 2px;
                    &:hover{
                        background-color: #2f2f2f;
                        color: #f2f2f2;
                        cursor: pointer;
                    }
                }
                .active{
                    background-color: #2f2f2f;
                    color: #f2f2f2;
                }
            }
        }
    }
    .skills{
        // margin-top: 100%;
        padding-top: 5%;
    }
    .contacto{
        form{
            width: 95%;
        }
    }
}